body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.screen {
  text-align: center;
}

.hidden {
  display: none;
}

#gameCanvas {
  border: 1px solid #000;
  background-color: #fff;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
}

button, select {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

#startScreen, #recordsScreen, #customizeScreen {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(247, 88, 2);
}

#startScreen h1, #recordsScreen h1, #customizeScreen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#startScreen button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ea7b44;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

#startScreen button:hover {
  background-color: #cc5c00ee;
    transform: scale(1.05);
}

#startScreen button:active {
    transform: scale(0.95);
}

#restartButton, #menuButton {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ea7b44;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#restartButton {
    top: 50%;
}

#menuButton {
    top: 65%;
}

#restartButton:hover, #menuButton:hover {
    background-color: #cc5c00ee;
    transform: translateX(-50%) scale(1.05);
}

#restartButton:active, #menuButton:active {
    transform: translateX(-50%) scale(0.95);
}

#scoreContainer {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  color: red;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}

#pauseButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #ea7b44;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  position: absolute;
  top: 10px;
  right: 10px;
}

#pauseButton:hover {
  background-color: #cc5c00ee;
  transform: scale(1.05);
}

#pauseButton:active {
  transform: scale(0.95);
}

#pauseMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resumeButton, #pauseMenuButton {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #ea7b40;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

#resumeButton:hover, #pauseMenuButton:hover {
  background-color: #cc5c00ee;
  transform: scale(1.05);
}

#resumeButton:active, #pauseMenuButton:active {
  transform: scale(0.95);
}

.blur {
    filter: blur(5px);
}

@media (max-width: 768px) {
    #gameCanvas {
        width: 100%;
        height: 100vh;
    }

    #startScreen, #recordsScreen, #customizeScreen {
        width: 90%;
        padding: 10px;
    }

    #startScreen h1, #recordsScreen h1, #customizeScreen h1 {
        font-size: 36px;
    }

    #startScreen button, #restartButton, #menuButton, #resumeButton, #pauseMenuButton {
        width: 80%;
        font-size: 18px;
        padding: 10px 20px;
    }

    #pauseButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    #scoreContainer {
        font-size: 18px;
    }
}